html, body {
    margin: 0%;
    padding: 0%;
}

a:hover {
    color: rgb(44, 38, 36);
    background: whitesmoke;
}

a:link, a:visited {
    text-decoration: none;
}

img {
  position: relative;
  width: 250px;
  height: 325px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map {
  border: thin solid black;
  width: 40%;
  height: 100%;
  float: right;
}

.heading {
    background-color:rgb(44, 38, 36);
    position: relative;
    margin: 0px;
    height: 40px;
    padding: 8px;
    overflow: auto;
}

.bio-box {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 700px;
    position: relative;
    overflow: visible;
}
.bio {
    margin: auto;
    position: relative;
    padding: 0px 25px;
    width: 55%;
    height: 100%;
    font-family:'Lucida Sans';
}
.bio-text {
    margin: 300px 0;
}
.btn {
    border-left-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
    position: relative;
    margin-top: 5px;
    padding: 4px 8px;
    text-align: center;
    color: whitesmoke;
    float: right;
}

.blog {
    margin: 25px 15%;
    height: 75px;
    background: whitesmoke;
    border-radius: 3px;
    overflow: auto;
}
.blog-title {
    margin: 0;
    padding: 20px 0px;
    width:20%;
    height: 100%;
    background: rgb(0, 31, 71);
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    float: left;
}
.blog-text {
    margin: 0;
    width: 75%;
    padding: 20px 5px;
    font-size: 15px;
    float: left;
}

.comnt-section {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: rgba(44, 38, 36, 0.856);
}
.comnt-forum {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    color: whitesmoke;
    text-align: left;
}
.comnt-name {
    height: 17px;
    width: 175px;
    background-color: whitesmoke;
    align-self: left;
}
.comnt-txt {
    width: 100%;
    padding: 5px;
    height: 100px;
    background-color: whitesmoke;
}
#comnt-btn {
    margin: 0px 4px;
    background: rgb(25, 117, 110);
    color: whitesmoke;
    border-style: none;
    border-radius: 3px;
    align-content: right;
}

.comnt-post {
    margin: 0px 15%;
    padding: 0px;
    overflow: auto;
}
.comment-box {
    margin: 25px 0px;
    padding: 0px;
    background-color: whitesmoke;
    border-radius: 3px;
    color: black;
    overflow: auto;
    text-align: left;
    font-size: 15px;
}
.comnt-post-title {
    background-color:rgb(25, 117, 110);
    color: whitesmoke;
    position: relative;
    margin: 0px 0px;
    height: 17px;
    font-size: 15px;
    font-weight: bold;
}

#greeting-container {
  margin-top: 20px;
  margin-left: 20px;
}

#pic {
    background-color: rgb(2, 41, 78);
    width: 40%;
    height: 100%;
    float:left;
}

#kalix-pic {
    background-color: rgb(214, 114, 0);
    width: 40%;
    height: 100%;
    float:right;
}

#azul-pic {
    position: relative;
    background-color: black;
    width: 40%;
    height: 100%;
    float:left;
}

#grey-pic {
    background-color: grey;
    width: 40%;
    height: 100%;
    float:right;
}
#name {
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-size: 30px;
    float:left;
}